<div class="border">
    <h2>Add New Task</h2>
    <form (submit)="onSubmit()">
        <!-- use the json pipe to see how newTask changes in real time -->
        <!-- <p> {{ newTask | json }} </p> -->
        <label for="newTask">New Task </label>
            <input type="text" name="newTask.title" [(ngModel)]="newTask.title" />
            <label for="newTask">Task Description </label>
            <input type="text" name="newTask.description" [(ngModel)]="newTask.description" />
            <input type="submit" value="Create Task" />
        </form>
  
</div>

